

.markdowncontainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.title-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
.title {
  font-size: large;
}

.right-title-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.words {
  margin-right: 15px;
}


/* Document title container */
.document-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: -15px;
  align-items: center;
}

.document-title {
  font-size: large;
}


/* editor titles */

.markdown-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mardown-editior-title , .preview-editor-title {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 20px;
  background-color: rgb(186, 186, 186);
  border: 1px solid lightslategray;
}


.editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 10px;
  border: 1px solid black;
  /* width: 49%; */
  overflow: hidden;
}



@media screen and (max-width:768px) {
  .editor-container , .markdown-title-container , .document-title-container , .title-container {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .preview-editor-title {
    display: none;
  }
  .mardown-editior-title  {
    width: 90%;
  }
  .editor-container {
    width: 100%;
  }
}